body{
    margin:0;
    padding: 0;
    min-width: 300px;
    max-width:1440px;
    font-family: 'Courier New', Courier, monospace;
    background-color:white;
    
}

main{
    margin:0;
    padding: 0;
    margin-top: 60px;
    margin-right:0;
    margin-left: 0;
    min-width:400px;
    max-width:1440px;
  
}

    
.hero-content {
    margin:0;
    padding: 0;
    margin-top: 100px;
    margin-left:110px;
    margin-right:0;
    min-width:220px;
    max-width:1040px ;
    height: 1200px;
    text-align: center;
 
  
   }

   .hero-content-sobre{
    margin:0;
    padding: 0;
    margin-top: 100px;
    margin-left:20px;
    margin-right:0;
    min-width:220px;
    max-width:1440px ;
    height:auto;
    text-align: center;
    margin-bottom: 40px;
 
  
   }

   .hero-content-contato{
    margin:0;
    padding: 0;
    margin-top: 100px;
    margin-left:20px;
    margin-right:0;
    min-width:220px;
    max-width:1440px ;
    height: 700px;
    text-align: center;
 
  
   }

   .hero-content-formacao{
    margin:0;
    padding: 0;
    margin-top: 100px;
    margin-left:20px;
    margin-right:0;
    min-width:220px;
    max-width:1440px ;
    height: auto;
    text-align: center;
 
  
   }


.tabela{
    margin-left: 250px;
}

 td{
    margin-left:250px;
    width: 150px;
    border: 2px solid black;
}

.tabela p{
    font-size: 30px;
}
.banner{
margin:0;
padding: 0;
max-width:100%;
min-width:340px;
height: 600px;
margin-bottom:0px;
background-image:url('img/bg-3.jpg');
background-size: cover;
background-position:right center;

}

.titulo h1{
    min-width:320px;
    max-width:440px;
    margin-top: -100px;
    font-size: 40px;
    margin-left:30px;
    color: white;
    font-style: italic;
    padding:20;
    text-shadow: 2px 4px 4px black;
}
.nome h1{
    min-width:320px;
    max-width:740px;
    margin-top: -500px;
    font-size: 50px;
    margin-left:30px;
    color: white;
    font-style: italic;
    padding:20;
    text-shadow: 2px 4px 4px black;
}
h4{
    margin-left:0px;
    font-size: 60px;
    text-shadow: 2px 2px px black;
    color:brown;
  
    
}
p{
    font-size: 30px;
}
.nav1 {
    margin-left:30px;
    margin-top: 500px;
}



.nav1 li{
    margin-right:0;
    min-width:10px;
    max-width: 380px;
    margin-top: 350px;
    height:20px;
    align-items:left;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace ;
    display:inline;   
    position:relative;
    text-shadow: 3px 3px 3px black ;
    

   
}

/*nav-sobre*/


.nav1 a:link{
    margin: 0;
    text-decoration: none;
    font-style:oblique;
    font-size: 50px;
    display:inline-block;
    margin-left:0;
    border-bottom:3px solid black ;
    border-left: 3px solid black;
    border-radius: 25px;
    text-shadow: none;
   }


   .nav1-sobre li{
    margin-right:0;
    min-width:10px;
    max-width: 380px;
    margin-top: 350px;
    height:20px;
    align-items:left;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace ;
    display:inline;   
    position:relative;
    text-shadow: 3px 3px 3px black ;
    

   
}

/*nav-sobre*/


.nav1-sobre a:link{
    margin: 0;
    text-decoration: none;
    font-style:oblique;
    font-size: 50px;
    display:inline-block;
    margin-left:0;
    border-bottom:3px solid black ;
    border-left: 3px solid black;
    border-radius: 25px;
    text-shadow: none;
   }



.nav1-contato li{
    margin-right:0;
    min-width:10px;
    max-width: 380px;
    margin-top: 350px;
    height:20px;
    align-items:left;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace ;
    display:inline;   
    position:relative;
    text-shadow: 3px 3px 3px black ;
    

   
}

.nav1-contato a:link{
    margin: 0;
    text-decoration: none;
    font-style:oblique;
    font-size: 50px;
    display:inline-block;
    margin-left:0;
    border-bottom:3px solid black ;
    border-left: 3px solid black;
    border-radius: 25px;
    text-shadow: none;
   }

   .nav1-formacao li{
    margin-right:0;
    min-width:10px;
    max-width: 380px;
    margin-top: 350px;
    height:20px;
    align-items:left;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace ;
    display:inline;   
    position:relative;
    text-shadow: 3px 3px 3px black ;
    }



.nav1-formacao a:link{
    margin: 0;
    text-decoration: none;
    font-style:oblique;
    font-size: 50px;
    display:inline-block;
    margin-left:0;
    border-bottom:3px solid black ;
    border-left: 3px solid black;
    border-radius: 25px;
    text-shadow: none;
   }


.redessociais li{
    display:inline-block;
    width: 50px;
    height: 30px;
    margin-bottom:0;
    
   }

   .redessociais-home li{
   
    width: 50px;
    height: 30px;
    margin-bottom: 0;
    
   }

.redessociais img{
width: 50px;
height: 50px;


}

.redessociais-home img{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: auto;
    
    }


   a:hover{
    text-transform: uppercase;
    color: green;
   }

.hero-content h1{
    min-width:320px;
    max-width: 1440px;
    margin-top: 40px;
    padding:40px;
    text-shadow: 2px 4px 4px black;
    
}

.hero-content-sobre p{
    
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style:inherit;
    
}



.rodape{
    margin-bottom:0;
    width:100%;
    height:auto;
    background-color:rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top:auto;
    margin-left: 0px;
    padding: 0;
    opacity: .8;
}



#container{
    margin: auto;
    display:flexbox;
    min-width:320px ;
    max-width: 800px;
    flex-wrap: wrap;
 
    

}

#container{
  
    margin: auto;
    display: flex;
    background-size: cover;
    background-position:right center ;
    gap:70px;
    margin-left:280px ;
    align-content: stretch;
    min-width: 35px;
    max-width: 800px;
    min-height: 35px;
    max-height: 700px;

}

#container img{
 
    min-width: 60px;
    max-width: 320px;
    min-height: 40px;
    max-height: 300px;
    border: 2px solid black;

}

#content-final{
    text-align: center;
    font-size:1.5em;
    margin-top: 130px;

}

#container img:hover{
    transform: scale(1.5);
}
@media (max-width: 450px) {
    .titulo h1{
        font-size: 30px;
        text-align: left;
        
    }
    .nome h1{
        font-size:2em ;
        text-align: left;
    }

    .hero-content-formacao{
        width: 450px;
        margin-left: 40px;
        height: auto;
        display:flexbox;

    }
    .tabela{
        margin-left: 30px;
    }


   #container{
    margin-left: 40px;
    display: contents;  
    width: 350px;
    height:auto;
    margin-bottom:auto;
   }
    #container img{
        width: 400px;
        height: 200px;
        margin-left: 20px;
        margin-bottom: 30px;

    }
    a{text-decoration: none;
    
    }
    .hero-content{
        margin-left: 10px;
        width:350px ;
        height: auto;
        margin-bottom: 20px;
    }

    #content-final{
        margin-top:40px;
        height: auto;
        margin-bottom: 140px;
    
    }

    .hero-content p{
        font: 12px;
    }

    .hero-content h4{
        font-size: 30px;
    }
    .rodape{
        margin: 0;
        padding:auto;
        position: absolute;
        margin-bottom: 0;
        margin-top:-40px;
        width:100%;
    }

    .rodape p{
        font-size: 20px;
    }

    .hero-content-formacao{
        width: 450px;
        height: auto;
    }
    .redessociais-home{
        width: 400px;
        height: 150px;
        display: inline-block;
        margin-top:100px;
        margin-bottom: 0;
        
    }

    .redessociais-home li{
        display: inline;
        width: 350px;
        height: 80px;
      
        
       }

    .nav1 a:link{
        
        font-size: 25px;
    
        margin-right: 2px;
        margin-left: 2px;
        width: 200px;
        
    }

    
    .nav1-contato a:link{
        font-size: 25px;
        margin-top:0;
        margin-right: 2px;
        margin-left: 2px;
        width: 200px;
        
    }

    .nav1-sobre a:link{
        font-size: 25px;
        margin-top:0;
        margin-right: 2px;
        margin-left: 2px;
        width: 200px;
        
    
    }

    .nav1-formacao a:link{
        font-size: 25px;
        margin-top:0;
        margin-right: 2px;
        margin-left: 2px;
        width: 200px;
        
    }



.nav1-formacao{
    margin-top:-340px;
    display: contents;
    margin-left: -30px;
    margin-right: 0;
    height: auto;
}  

.nav1-sobre{
    margin-top:-340px;
    display: contents;
    margin-left: -20px;
    margin-right: 0;
    height: auto;
}  

.nav1-contato{
    margin-top:-340px;
    display: contents;
    margin-left: -20px;
    margin-right: 0;
    height: auto;
}  
.nav1-sobre li{
    margin-top:740px;
    display: contents;
    margin-left: 20px;
    margin-right: 0;
    height: auto;
} 
.nav1-contato li{
    margin-top:40px;
    display: contents;
    margin-left: 20px;
    margin-right: 0;
    height: auto;
} 
.nav1-formacao li{
    margin-top:740px;
    display: contents;
    margin-left: 20px;
    margin-right: 0;
    height: auto;
} 
.nav1 li{
    margin-top:740px;
    display: contents;
    margin-left: 20px;
    margin-right: 0;
    height: auto;
}
.hero-content-contato{
    margin-top: 30px;
    margin-bottom: auto;
}  
    }
